*{
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


header{
    
   background-image: url(si.jpg);
   height: 100vh;
   background-size:cover ;
   background-position: center;
    
}
ul{
    float: right;
    list-style-type: none;
    margin-top: 25px;
}
ul li{
    display: inline-block;
}
ul li a{
    text-decoration:none ;
    color:black;
    padding: 5px 20px;
    border:3px solid black;
    transition: 0.6s ease;
    background-color: blanchedalmond;
    border-radius: 200px;
    margin-bottom: auto;
}
ul li a:hover{
    background-color: white;
    color:black;
}
.list{
    max-width: 1600px;
    margin:auto;
    font-size: 30px;
}
.apple img{
    float:left;
    margin:10px;
    border-width: 4px;
    border-style: solid;
    border-radius: 100px;
}
.toy{
    background-image: url(toy.jpg.jpg);
    position: absolute;
    top:50px;
    left:80px;
    transform: translate(-50%-50%);
    margin-top:100px ;
    color: green;
    background:turquoise;
   

}
.toy img{
    float:right;
    margin:50px;
    border-width: 4px;
    border-style: solid;
    border-radius: 100px;
    
    
}

.title{
    position: absolute;
    top: 50%;
    left:30%;
    transform: translate(-50%-50%);
}
.title h1{
    color:black;
    font-size: 40px;
    margin-top:15px;
    background-color: blanchedalmond;
    border-radius: 30px;
    margin-bottom: auto;
}
.button{
    position: absolute;
    top: 65%;
    left:44%;
    transform: translate(-50%-50%);
    
    
    
}
.btn{
    border: 4px solid black;
    padding: 3px 20px;
    color:black;
    text-decoration: none;
    transform: 0.6s ease;
    font-size: 30px;
    background-color: turquoise;
    border-radius: 200px;
    margin-bottom: auto;

}
.btn:hover{
    background-color: white;
    color:black;
}
.wirte{
        position: absolute;
        top: 5%;
        left:35%;
        transform: translate(-50%-50%);
    }
 .wirte h1{
        color:black;
        font-size: 40px;
        margin-top:10px;
}
.wraper{
    background-color: yellow;
    width: 800px;
    margin-left:330px;
    border: 6px solid black;
    border-radius: 300px;
    margin-bottom: auto;
}


.team{
  width: 230px;
  height:350px;
  padding: 30px;
  background-color: white;
  float: left;
  margin: 60px;
  border-radius: 10px;
  margin-bottom: auto;
  
  
  
}

h2{
    text-align: center;
    font-size: 50px;


}
.team img{
    float:left;
    margin:10px;
    border-width: 4px;
    border-style: solid;
    border-radius: 100px;
    margin-bottom: auto;
}

.gun img{
    
    background-color: white;
    float: left;
    margin: 50px;
    border-radius: 10px;
    margin-bottom: auto;
    
}